{% extends "base.html" %}
{% load static %}

{% block css_files%}
<link rel="stylesheet" href={% static "home/home.css"%}>
{% endblock %}

{% block title %}DogGram{% endblock %}

{% block content %}
    <div class="text">
        <h1>Welcome to Dog Blog</h1>
        <p>
            Were glad your here before you start 
            looking around enjoy this slide of funny dogs
        </p>
    </div>
    <div class="slide_container">
        <img class="slide fade" src="{%static "home/images/funny3.jpg"%}" alt="">
        <img class="slide fade" src="{%static "home/images/funny2.jpg"%}" alt="">
        <img class="slide fade" src="{%static "home/images/funny1.jpg"%}" alt="">
    </div>
    <script src="{% static "home/home.js" %}"></script>
 
{% endblock %}