.text{
    width: 35%;
    position: absolute;
    top: 40%;
    left: 135px;
    font-size: 12px;
    color: white;
}

.text h1, 
.text p {
    color: white;
    text-decoration: none;
}

.text a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    position: relative;
    top: 30px;
    left: 100px;
    padding: 25px;
}

.slide_container{
    height: 40rem;
    width: 50%;
    border: 1px solid black;
    position: absolute;
    right: 0px;
}

.slide_container img{
    height: 100%;
    width: 100%;
    position: relative;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 5s;
  }

  @keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
  }
