.text{
    width: 35%;
    position: absolute;
    top: 40%;
    left: 135px;
    font-size: 12px;
    color: white;
}

.text h1, 
.text p {
    color: white;
    text-decoration: none;
}

.text a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    position: relative;
    top: 30px;
    left: 100px;
    padding: 25px;
}
